# -- Extra package locations for PyTorch --
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html

# -- Core App & LLM Dependencies --
streamlit
python-dotenv
od-parse @ git+https://github.com/octondata/od-parse.git
langchain
langchain-community
langchain-openai
openai
sentence-transformers
# Use the CPU version of FAISS
faiss-cpu

# -- Data Analysis & Plotting --
fpdf
prophet
numpy
scipy
scikit-learn
pandas
plotly
kaleido
matplotlib
seaborn

# -- ML Frameworks (CPU Versions) --
# Use CPU-only versions of torch and torchvision
torch
torchvision
# Install Detectron2 from source for CPU compatibility
detectron2 @ git+https://github.com/facebookresearch/detectron2.git